<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.DeptRechangeMapper">
    
    <resultMap type="DeptRechange" id="DeptRechangeResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="rechangeName"    column="rechange_name"    />
        <result property="rechangeAmount"    column="rechange_amount"    />
        <result property="rechangeDate"    column="rechange_date"    />
    </resultMap>

    <sql id="selectDeptRechangeVo">
        select id, user_id, rechange_name, rechange_amount, rechange_date from dept_rechange
    </sql>

    <select id="selectDeptRechangeList" parameterType="DeptRechange" resultMap="DeptRechangeResult">
        <include refid="selectDeptRechangeVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="rechangeName != null  and rechangeName != ''"> and rechange_name like concat('%', #{rechangeName}, '%')</if>
            <if test="rechangeAmount != null "> and rechange_amount = #{rechangeAmount}</if>
            <if test="rechangeDate != null "> and rechange_date = #{rechangeDate}</if>
        </where>
    </select>
    
    <select id="selectDeptRechangeById" parameterType="Long" resultMap="DeptRechangeResult">
        <include refid="selectDeptRechangeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDeptRechange" parameterType="DeptRechange" useGeneratedKeys="true" keyProperty="id">
        insert into dept_rechange
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="rechangeName != null">rechange_name,</if>
            <if test="rechangeAmount != null">rechange_amount,</if>
            <if test="rechangeDate != null">rechange_date,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="rechangeName != null">#{rechangeName},</if>
            <if test="rechangeAmount != null">#{rechangeAmount},</if>
            <if test="rechangeDate != null">#{rechangeDate},</if>
         </trim>
    </insert>

    <update id="updateDeptRechange" parameterType="DeptRechange">
        update dept_rechange
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="rechangeName != null">rechange_name = #{rechangeName},</if>
            <if test="rechangeAmount != null">rechange_amount = #{rechangeAmount},</if>
            <if test="rechangeDate != null">rechange_date = #{rechangeDate},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeptRechangeById" parameterType="Long">
        delete from dept_rechange where id = #{id}
    </delete>

    <delete id="deleteDeptRechangeByIds" parameterType="String">
        delete from dept_rechange where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>