<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('check表格页')" />
</head>
<body class="gray-bg">
<div class="col-sm-12 search-collapse">
    <form id="formId">
        <div class="select-list" >
            <ul>
                <li>
                    <label>共债姓名</label>
                    <input type="text" name="name" id="name" />
                </li>
                <li>
                    <!--<a class="btn btn-primary btn-rounded btn-sm" onclick="selectUserByName()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                </li>
            </ul>
        </div>
    </form>
</div>
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "dept/payorder"


    var datas = [[${@dict.getType('sys_normal_disable')}]];



    $(function() {
        var options = {
            url: prefix + "/add",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination:false,
            /*columns:
                [{
                    field : 'name',
                    title : '用户姓名'
                },
                    {
                        field: 'bankCode',
                        title: '银行卡号',
                    },
                    {
                        field : 'amount',
                        title : '金额'
                    },
                    {
                        field : 'status',
                        title : '订单状态',
                        formatter: function(value, row, index) {
                            if (row.status == '1') {
                                return '<span class="badge badge-primary">收款</span>';
                            } else {
                                return '<span class="badge badge-danger">还款</span>';
                            }
                        }
                    },
                    {
                        field : 'orderDate',
                        title : '订单时间'
                    }]*/

        };
        $.table.init(options);

    });

    // selectUserByName
    function selectUserByName() {
        $.table.search('formId','bootstrap-table');
       // $.table.search('formId','bootstrap-table1');
       /* var name = $("#name").val();
        var url = prefix + "/add";
        var data = { "name": name };
        $.operate.post(url, data);*/
    }

    function submitHandler() {
        return
    }
</script>
</body>
</html>
