<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('check表格页')" />
</head>
<body class="gray-bg">
<div class="col-sm-12 search-collapse">
    <form id="formId">
        <div class="select-list" >
            <ul>
                <li>
                    <label>共债姓名</label>
                    <input type="text" name="name" id="name" />
                </li>
                <li>
                    <a class="btn btn-primary btn-rounded btn-sm" onclick="selectUserByName() $.operate.post()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                </li>
            </ul>
        </div>
    </form>
</div>
<!--<div class="col-sm-12 search-collapse">
    <h1 th:value="${monthLoanOrder}" th:text="${monthLoanOrder}">{{monthLoanOrder}}}</h1>
<table border="2" height="20px">
    <tr>
        <td width="500px">近30天借款订单数</td>
        <td width="300px" th:text="${monthLoanOrder}"></span></td>
        <td width="500px">近30天还款订单数</td>
        <td width="300px" th:text="${monthRepayOrder}"></td>
    </tr>
    <tr>
        <td width="500px">近七天借款订单数</td>
        <td width="300px" th:text="${dayLoanOrder}"></td>
        <td width="500px">近七天还款订单数</td>
        <td width="300px" th:text="${dayhRepayOrder}">80</td>
    </tr>
</table>
</div>-->
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var prefix = ctx + "dept/payorder"

    $(function() {
        var options = {
            data: [[${payDto}]],
            sidePagination: "client",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination:false,
            columns:
                [{
                    title : '近30天借款订单数',
                    field: 'monthLoanOrder'
                }, {
                    title : '近30天还款订单数',
                    field: 'monthRepayOrder'
                },{
                    title : '近七天借款订单数',
                    field: 'dayLoanOrder'
                }, {
                    title : '近七天还款订单数',
                    field: 'dayhRepayOrder'
                }
                ]
        };
        $.table.init(options);
    });


    $(function() {
        var options = {
            //url: prefix + "/add",
            data: [[${users}]],
            sidePagination: "client",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination:false,
            columns:
                [
                    {
                        field : 'name',
                        title : '用户姓名'
                    },
                    {
                        field: 'bankCode',
                        title: '银行卡号',
                    },
                    {
                        field : 'amount',
                        title : '金额'
                    },
                    {
                        field : 'status',
                        title : '订单状态',
                        formatter: function(value, row, index) {
                            if (row.status == '1') {
                                return '<span class="badge badge-primary">收款</span>';
                            } else {
                                return '<span class="badge badge-danger">还款</span>';
                            }
                        }
                    },
                    {
                        field : 'orderDate',
                        title : '订单时间'
                    }]

        };
        $.table.init(options);
    });

    // selectUserByName
    function selectUserByName() {
        var url = prefix + "/add";
        var data = { "name": $("#name").val() };
        $.operate.post(url, data);
    }
</script>
</body>
</html>
