<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('五花共债')"/>
</head>
<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-wuhua-edit" th:object="${radarData}">
        <table class="table table-bordered table-striped">
            <tr>
                <td>手机号：</td>
                <td th:text="*{mobile}"></td>
                <td>姓名：</td>
                <td th:text="*{name}"></td>
                <td>借款平台数 ：</td>
                <td th:text="*{loanPrCount}"></td>
            </tr>
            <tr>
                <td>累计申请借款笔数：</td>
                <td th:text="*{loanCount}"></td>
                <td>累计借款成功笔数：</td>
                <td th:text="*{loanSucCount}"></td>
                <td>借款成功平台数：</td>
                <td th:text="*{loanSucPrCount}"></td>
            </tr>
            <tr>
                <td>当前进行订单数：</td>
                <td th:text="*{curOrderCount}"></td>
                <td>当前待审核订单数：</td>
                <td th:text="*{curWAuthCount}"></td>
                <td>逾期记录平台数：</td>
                <td th:text="*{ovePrCount}"></td>
            </tr>
            <tr>
                <td>当前拒绝订单数：</td>
                <td th:text="*{curRefCount}"></td>
                <td>当前逾期订单数：</td>
                <td th:text="*{curOveCount}"></td>
                <td>近月逾期订单数：</td>
                <td th:text="*{monOveCount}"></td>
            </tr>
            <tr>
                <td>今日申请订单数：</td>
                <td th:text="*{todayLoanCount}"></td>
                <td>今日拒绝订单数：</td>
                <td th:text="*{todayRefCount}"></td>
                <td>今日拒绝订单数：</td>
                <td th:text="*{todayLoanSucCount}"></td>
            </tr>
            <tr>
                <td>今日还款订单数：</td>
                <td th:text="*{todayRepSucCount}"></td>
                <td>今日逾期订单数：</td>
                <td th:text="*{todayOveCount}"></td>
                <td>历史有过逾期订单数（已还清）：</td>
                <td th:text="*{totalOveRepCount}"></td>
            </tr>
        </table>
    </form>
</div>
<div class="container-div">
    <div class="row">
        <!--<div class="col-sm-12 select-table ">
            <table id="bootstrap-table"></table>
        </div>-->
        <h3 class="col-sm-3 control-label">借款列表</h3>
        <div class="col-sm-12 select-table ">
            <table id="bootstrap-table1"></table>
        </div>
        <h3 class="col-sm-3 control-label">还款列表</h3>
        <div class="col-sm-12 select-table ">
            <table id="bootstrap-table2"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>

<script th:inline="javascript">
    var prefix = ctx + "dept/wuhua";
    $("#form-payorder-edit").validate({
        focusCleanup: true
    });

    var datas = [[${@dict.getType('sys_normal_disable')}]];


    $(function() {

        var options1 = {
            id : "bootstrap-table1",
            data: [[${loanList}]],
            sidePagination: "client",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination:false,
            columns:
                [{
                    field : 'mobile',
                    title : '手机号'
                },
                    {
                        field: 'name',
                        title: '姓名',
                    },
                    {
                        field: 'companyName',
                        title: '平台名称',
                    },
                    {
                        field : 'amount',
                        title : '借款金额'
                    },
                    {
                        field: 'createTime',
                        title: '借款时间',
                    },
                    {
                        field: 'statusLabel',
                        title: '订单状态',
                    }]

        };

        var options2 = {
            id : "bootstrap-table2",
            data: [[${repList}]],
            sidePagination: "client",
            showSearch: false,
            showRefresh: false,
            showToggle: false,
            showColumns: false,
            pagination:false,
            columns:
                [{
                    field : 'mobile',
                    title : '手机号'
                },
                    {
                        field: 'name',
                        title: '姓名',
                    },
                    {
                        field: 'companyName',
                        title: '平台名称',
                    },
                    {
                        field : 'amount',
                        title : '借款金额'
                    },
                    {
                        field: 'createTime',
                        title: '借款时间',
                    },
                    {
                        field: 'statusLabel',
                        title: '订单状态',
                    },
                    {
                        field: 'dueDate',
                        title: '到期时间',
                    },
                    {
                        field: 'repAmount',
                        title: '还款金额',
                    },
                    {
                        field: 'repTime',
                        title: '还款时间',
                    },]

        };

        /*$.table.init(options);*/
        $.table.init(options1);
        $.table.init(options2);
    });

    function submitHandler() {
        return
    }

</script>
</body>
</html>
